* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Verdana,sans-serif; */
    font-family: "Karma", sans-serif;
    list-style-type: none;
}
/* ------------------- Header Section Start -------------------*/
/* 
header {

} */
header .contaner {
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
    font-size: 24px;
    font-family: "Karma", sans-serif;
    width: 100%;
    position: fixed ;
    top: 0;
    background-color: white;
    align-items: center;
}

nav {
    padding: 16px 16px ;
}
nav:hover {
    background-color: #ccc;
}
/* ------------------- Header Section End -------------------*/

 
/* ------------------- Image Section Start ------------------- */
.image-section .contaner{
    display: grid;
    grid-template-columns: repeat(4,20%);
    grid-template-rows: auto auto;
    gap: 16px;
    justify-content: center;
    margin-top: 104px;
}

.product {
    width: 100%;
    margin-top:20px ;
}
.product .title ,
.about-title {
    font-size: 24px;
    margin-bottom: 27px;
    text-align: center;
}
.product .descerption {
    font-size: 15px;
    text-align: center;

}
.product img{
    width: 100%;
}

/* ------------------- Image Section End ------------------- */



/* ------------------- Links Section Start ------------------- */
.links {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 55px;
}
.link {
    padding: 8px 16px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 0;
}
.active {
    background-color: black;
    color: white;
}
.active:hover {
    background-color: #ccc;
    color: black;
}
.link:hover:not(.active) {
    background-color: black;
    color: white;
}
/* ------------------- Links Section End ------------------- */
hr {
    width: 87%;
    margin: 25px auto 76px;
}
/* -------------------  About Section Start -------------------  */
.about-section .contaner {
    text-align: center;
}
.descerption-title {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 11px;

}
.saying {
    font-size: 16px;
}
.about-section .descerption {
    margin: 20px 108px 90px;

}

/* -------------------  About Section End -------------------  */
.two {
    margin-bottom: 70px;
}

/* ------------------- Footer Section Start ------------------- */

footer .contaner {
    display: grid;
    grid-template-columns: repeat(3,28%);
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
footer .contaner .title {
    font-size: 24px;
}

footer .text {
    margin: 14px 0;

}

.two-img-footer li img{
    width: 50px;
    float: left;

}
.two-img-footer li span {
    display: inline-block;
    margin-left: 15px;
}
.first-word {
    display: inline-block;

}
.first-li {
    border-bottom: 1px solid #ccc;
}
.two-img-footer li { 
    padding: 8px 16px; 
    overflow: hidden;
}
.two-img-footer li:hover {
    background-color: #ccc;
}
.black {
    background-color: black;
    color: white;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
}
.spans-gray {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    background-color: gray;
    color: white;
    margin-bottom: 16px ;
    padding-left: 8px;
    padding-right: 8px;
    font-family: serif;
}

/* ------------------- Footer Section End ------------------- */


/* Media */

@media (max-width:767px) {

    .about-section .descerption {
        font-size: 15px;
        margin: 10px 20px;
    }
    footer .contaner {
        font-size: 15px;
        grid-template-columns: auto;
    }
    footer {
        padding: 30px;
    }
    header .contaner {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-right: 100px;
    }
    

    .contaner {
        font-size: 20px;
    }
    nav {
        display: inline-block;
    }
    .about-section .contaner img {
        width: 80%;
    }
    .image-section .contaner {
        grid-template-columns: 100%;
        margin-bottom: 10px;
    }
    .product img {
        width: 95%;
        height: 80%;
        margin: 10px;
    }
    .mail {
        display: none;
    }
}
@media (min-width: 767px) and (max-width: 1000px) {
    .image-section .contaner {
        grid-template-columns: repeat(2,auto);
        margin-bottom: 10px;
    }
    .product img {
        width: 90%;
        height: 80%;
    }
}

@media (max-width:281px) {
    .image-section .contaner {
        grid-template-columns: auto;
        margin-bottom: 10px;
    }
    .product img {
        width: 90%;
        height: 80%;
    }
}